.profile-info__logo {
    text-align: center;
    margin-top: 50px;
}

.profile-info__logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info__logo button {
    padding: 12px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.profile-info__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.profile-info-button {
    background-color: #D9D9D9;
    cursor: pointer;
    transition: 0.4s;
}

.profile-info-button:hover {
    background-color: rgba(255, 0, 0, 0.89);
    transition: 0.4s;
    color: white;
}

.profile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-menu button {
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile-menu button::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: ease .3s;
}

.profile-menu button:hover::after,
.profile-menu button:focus::after {
    width: 100%;
}