.othersaved-groups__buttons {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    gap: 16px;
}

.othersaved-groups__buttons button {
    border: none;
    border-radius: 30px;
    padding: 14px;
    height: 46px;
}

.othersaved-groups__albums {
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
    gap: 20px;
}

.othersaved-groups__albums img {
    width: 200px;
    height: 100px;

}