.profile-nav {
    background-color: #D9D9D9;
}

.profile-nav__logo {
    cursor: pointer;
    transition: 0.4s;
}

.profile-nav__logo:hover {
    transition: 0.4s;
    color: red;
}

.profile-nav__container {
    padding: 0 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 98dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-nav__first-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-nav__second-box {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 30px;
}

.search-field input {
    padding: 5px;
    border-radius: 20px;
    width: 75dvw;
    background-image: url("../../../public/lypa.png");
    background-repeat: no-repeat;
    background-position: 99%;
}

.profile-nav__create-profile {
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.profile-nav__create-profile:hover {
    background-color: rgba(255, 0, 0, 0.89);
    transition: 0.4s;
    color: white;
}

.profile-nav__notification-btn,
.profile-nav__messages-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile-settings__btn {
    width: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
}

.profile-settings__img {
    margin-bottom: 7px;
    border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .search-field input {
        width: 50dvw;
    }
}