.grid-container {
    column-count: 5;
    column-gap: 10px;
    margin: 0 auto;
    width: 70dvw;
    margin-top: 20px;
}

.grid-item {
    margin-bottom: 16px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.grid-item:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

.image-container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.5s ease;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.save-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.grid-item:hover .save-button {
    opacity: 1;
}