.grid-container {
    column-count: 5;
    /* Количество колонок, адаптируйте по потребности */
    column-gap: 10px;
    margin: 0 auto;
    width: 70dvw;
    margin-top: 20px;
}

.grid-item {
    margin-bottom: 16px;
    overflow: hidden;
    /* Скрытие частей изображения, выходящих за границы контейнера */
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.grid-item:hover img {
    transform: scale(1.05);
    cursor: pointer;
}